<div class="container-fluid bg-dark w-100">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1 class="text-light">
        Welcome to our website!
      </h1>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col">
      <h3 class="text-light">
        Who we are?
      </h3>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-6">
      <p class="text-light">
        The Little People Association was born by the initiative of its founders, Katie and Shajjad Rizvi in 1996 in
        Cluj-Napoca, from the desire to offer child and teenage cancer patients the support each one of them needs.
        Today, the Association provides the field of pediatric oncology from Romania and the Republic of Moldova with a
        whole range of high-quality services, daily psychosocial support programs for patients, complex events for the
        young cancer survivors, professionalism in volunteer coordination, material support for the hospital wards
        through playroom renovation projects, donations of medical equipment and acquisition of hard-to-find medicine,
        as well as constant concern and involvement from a highly dedicated team.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img class="img-fluid img-thumbnail" src="assets/homepage_image.jpg" alt="Imagine_De_Prezentare">
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-sm-4">
      <img class="img-fluid img-thumbnail" src="assets/homepage_doneaza.png" alt="Doneaza">
    </div>
  </div>
</div>

